#svg-container {
  margin-block: 2em;
  display: grid;
  justify-content: center;
  text-align: center;
}

#moving {
  animation: moving infinite linear 2s;
}

@keyframes moving {
  0% {
    transform: translateX(0px);
  }

  50% {
    transform: translateX(-40px);
  }

  100% {
    transform: translateX(0px);
  }
}
